<!DOCTYPE html>
<html>
    <head>
        <title> Marble Greens Login</title>
    <style>
        body {
        padding: 50px;
        font-family: Palatino;
        text-align: center;
        }
    </style>

    <body>
        <h1>Marble Greens</h1>

        <h3>Login</h3>

        <div class="container">
            <form method="post" action= "/login">
            Username: <input type="text" name="username" placeholder="Username">
            <br>
            <br>
            Password: <input type="password" name="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" value="Submit">
            </form>
            <br>
            <br>
            Don't have an account? <a href="/signup"> Sign up </a>
        </div>
    </body>
</html>