<!DOCTYPE html>
<html>
    <head>
        <title> Marble Greens Login</title>
    </head>
    <style>
        body {
        padding: 50px;
        font-family: Palatino;
        text-align: center;
        width: 500px;
        margin: auto;
        }

    </style>

    <body>
        <h1>Marble Greens</h1>
        <br>
        <div class="container">
            <form action="/signup" method="POST">
                <p> Name: <input type="text" name="name"></p>
                <p> Email: <input type="text" name="email"></p>
                <p> Password: <input type="password" name="password"></p>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
            <br>
            <br>
            Don't have an account? <a href="/signup"> Sign up </a>
        </div>
    </body>
</html>