<!DOCTYPE html>
<html>
    <head>
        <title> Marble Greens Login</title>
    </head>
    <style>
        body {
        padding: 50px;
        font-family: Palatino;
        text-align: center;
        width: 500px;
        margin: auto;
        }

    </style>

    <body>
        <h1>Marble Greens</h1>
        <h3>Log into an Existing Account</h3>
        <br>
        <div class="container">
            <form action="/login" method="POST">
                <p> Username: <input type="text" name="username"></p>
                <p> Password: <input type="password" id="myInput">
                <br>      
                <br>
                <input type="checkbox" onclick="myFunction()"> Show Password
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
            <br>
            <br>
            Don't have an account? <a href="/signup"> Sign up </a>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </body>
</html>