<h2>GreenHouses: </h2>

<br>

    <% @greenhouses.each do |g| %>
        <p><strong><%= g.name %></strong></p>
    <% end %>

 <p> <a href="/plants"> Plants </a></p>
 <p> <a href="/welcome"> Homepage </a></p>