<h2>GreenHouses: </h2>

<br>

    <% @greenhouses.each do |g| %>
        <p><strong><%= g.name %></strong></p>
    <% end %>


<button type="button" class="btn btn-default"><a href="/plants">Plants</a></button>
<button type="button" class="btn btn-default"><a href="/logout">Log out</a></button>