<h2>GreenHouses: </h2>

<br>

    <% @greenhouses.each do |g| %>
        <%# <p><strong>ID:<%= g.id %></strong></p> 
        <p><strong><%= g.name %></strong></p>
    <% end %>

<p> <a href="/plants"> Plants </a></p>
<p> <a href="/homepage"> Home Page </a></p>
 <p> <a href="/">  </a></p>