<h2>My Plant List:</h2> 



<ul>

    <% @plants.each do |plant| %>
        <li><a href="/plants/<%= plant.id %>" style="color: #ffffff"><%= plant.name %></a></li>
    <% end %>

<br>
<br>

<button type="button" class="btn btn-default"><a href="/plants/new">Add A new Plant</a></button>
<button type="button" class="btn btn-default"><a href="/greenhouses">Greenhouse List</a></button>
<button type="button" class="btn btn-default"><a href="/homepage">Home Page</a></button>