<h2>My Plant List</h2> 

<% @plants.each do |p|%>
<br>
<li><strong><a href="/greenhouse/<%p.id%>"><%= p.greenhouse.name%></a></strong> | Water: <%= p.water %> | Light: <%= p.light %> | Price: <%= p.price %>  </li>

<% end %>

<br>
<br>

<p> <a href="/plants/new"> Add New Plant</a></p>
<p> <a href="/greenhouses"> Greenhouse List</a>t</p>