<h2>My Plant List:</h2> 

    <% @plants.each do |plants| %>
        <p><strong><%= plants.name %></strong></p>
    <% end %>

<br>
<br>

<p> <a href="/plants/new"> Add A New Plant</a></p>
<p> <a href="/greenhouses"> Greenhouse List</a></p>