<h2>My Plants</h2> 

<% @plants.each do |p|%>
<br>
<li><strong><%= p.greenhouse.name %></strong> | Water: <%= p.water %> | Light: <%= p.light %> | Price: <%= p.price %>  </li>

<% end %>

<br>
<br>

<p> <a href="/plants/new"> Add New Plant</p>
<p> <a href="/plants/new"> Add New Plant</p>