<h2> My Plant List:</h2> 

<ul>

<% @plants.each do |plant| %>
    <p><a href="/plants/<%= plant.id %>"><%= plant.name %></a></p>
<% end %>

</ul>

<br>
<br>

<button type="button" class="btn btn-default"><a href="/plants/new">Add A new Plant</a></button>
<button type="button" class="btn btn-default"><a href="/greenhouses">Greenhouse List</a></button>
<button type="button" class="btn btn-default"><a href="/homepage">Home Page</a></button>