<h2> Add a Plant: </h2>

<form method="POST" action="/plants">

    <label for="name">Name:</label>
    <input type="text" name="name">

    <br>
    <br>

    <label for="Water">Water:</label>
    <input type="text" name="water">

    <br>
    <br>

    <label for="light">Light:</label>
    <input type="text" name="light">

    <br>
    <br>

    <label for="price">Price:</label>
    <input type="integer" name="price">

    <br>
    <br>

    <%# <label for="greenhouse">Greenhouse:</label>
    <input type="text" name="greenhouse_name"> %>
    <label for="greenhouse">Greenhouse:</label>
      <select id="greenhouse" name="greenhouse[name]">
          <option value="planternia"> Planternia</option>
          <option value="dans_nursery"> Dan's Nursery</option>
          <option value="balboa_park">Balboa Park</option>
      </select>
    </label>


    <br>
    <br>

    <input type="submit">

    <br>
    <br>

  <p> <a href="/plants"> Plants </a></p>

</form>

