<h2> Add a Plant to Greenhouse </h2>

<form method="POST" action="/plants">

    <label for="name">Name:</label>
    <input type="text" name="name">

    <br>
    <br>

    <label for="Water">Water:</label>
    <input type="text" name="water">

    <br>
    <br>

    <label for="light">Light:</label>
    <input type="text" name="light">

    <br>
    <br>

    <label for="price">Price:</label>
    <input type="integer" name="price">

    <br>
    <br>

    <label for="greenhouse">Greenhouse:</label>
    <input type="text" name="greenhouse">
    
    <br>
    <br>

    <input type="submit">

</form>

