<!DOCTYPE html>
<html>
<head>
  <title> Marble Greens </title>
    <style>

    h2, h4 {
      text-align: center;
    }

    body {
      padding: 30px;
      font-family: Palatino;
    }

    .left {
      width: 220px;
      height: 220px;
      align: center;
    }

    .navigation {
      list-style: none;
      margin: 0; 
      background: white;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: flex-end;

    }

    .navigation a {
      display: block;
      padding: 1em;
      color: green;
      display: center;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }

    .navigation li:last-of-type a {
      border-bottom: none;
    }
        
    
    </style>
  <body>
    <div class="container">
      <h2> Welcome to Marble Greens </h2>
      <h4> Houseplants make oxygen, clean the air around us and reduce stress.</h4>

        <ul class="navigation">
          <li><a href="/plants">Plants</a></li>
          <li><a href="/greenhouses">GreenHouse</a></li>
       </ul>

        <div class="container">

          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/IMG_0500-2_568x.jpg?v=1564592964" alt="zz plant" class='left'>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/IMG_6699_568x.jpg?v=1564515627" alt="african mask" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/rubber1_568x.jpg?v=1564589820" alt="rubber plant" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/pinstripe1_1cc9cb6b-c7c9-4da5-86da-e0f1a00de880_568x.jpg?v=1564518956" alt="calathea" class='left'/>
        
          <p> <a href="/signup"> Sign up </a></p> 
          <p> <a href="/login"> Log In</a></p>

        </div>
    </div>
  </body>

</html>
