<!DOCTYPE html>
<html>
<head>
  <title> Marble Greens </title>
    <style>

    h2, h4 {
      text-align: center;
    }

    body {
      padding: 30px;
      font-family: Palatino;
    }

    .left {
      width: 220px;
      height: 220px;
      align: center;
    }

    .navigation {
      list-style: none;
      margin: 0; 
      background: white;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: flex-end;

    }

    .navigation a {
      display: block;
      display: right;
      padding: 1em;
      color: green;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }

    .navigation li:last-of-type a {
      border-bottom: none;
    }
        
    
    </style>
  <body>
    <div class="container">
      <h2> Welcome to Marble Greens </h2>
      <h4> Houseplants make oxygen, clean the air around us and reduce stress.</h4>
      <h4> Were here to help you keep track of your plants.</h4>

        <ul class="navigation">
          <li> <a href="/signup"> Sign up </a></li>
          <li><a href="/login"> Log In</a></li>
       </ul>

        <div class="container">

          <img src="https://cdn.shopify.com/s/files/1/0253/6701/9565/products/ZZ-Plant-Mottled-Pot-Large_1000x1000.jpg?v=1586361717" alt="zz plant" class='left'>
          <img src="https://cdn.shopify.com/s/files/1/0253/6701/9565/products/Pothos-Golden-Mottled-Pot-Pole-Large_1000x1000.jpg?v=1586369161" alt="pathos" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0253/6701/9565/products/Aglaonema-Silver-Bay-Mottled-Pot-Large_1000x1000.jpg?v=1586362523" alt="chinese evergreen" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0253/6701/9565/products/Syngonium-Arrowhead-Vine-White-Butterfly-Mottled-Pot-Pole-Large_1000x1000.jpg?v=1586368992" alt="white butterfly" class='left'/>
    
    <br>
    <br>

        </div>
    </div>
  </body>

</html>
