  <style>
    h2, h4{
      text-align: center;
    }

    body {
      padding: 30px;
      }

    .left {
      width: 220px;
      height: 220px;
      align: center;
    }
  </style>

<!DOCTYPE html>
<html>
<head>
  <title> Marble Greens </title>
  <body>
    <div class="container">
      <h2> Welcome to Marble Greens </h2>
      <h4> Houseplants make oxygen, clean the air around us and reduce stress.</h4>
      <h4> We can help you find more information about your little green friend. </h4>

        <p> <a href="/plants"> Plants </a></p>
        <p> <a href="/greenhouses"> Greenhouses </a></p>

        <div class="container">

          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/IMG_0500-2_568x.jpg?v=1564592964" alt="zz plant" class='left'>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/IMG_6699_568x.jpg?v=1564515627" alt="african mask" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/rubber1_568x.jpg?v=1564589820" alt="rubber plant" class='left'/>
          <img src="https://cdn.shopify.com/s/files/1/0017/2651/3204/products/pinstripe1_1cc9cb6b-c7c9-4da5-86da-e0f1a00de880_568x.jpg?v=1564518956" alt="calathea" class='left'/>
        
          <p> <a href="/signup"> Sign up </a></p> 
          <p> <a href="/login"> Log In</a></p>

        </div>
    </div>
  </body>

</html>
